body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
  h1 {
    font-size: 10px;
  }
  html {
    font-size: 13px;
  }
  
  .container {
      max-width: 1100px;
      margin: auto;
    }
  .text-primary {
    color: #3693ff;
  }
 
  
    
    /* navbar */
  
  #navbar {
    display: flex;
    justify-content: space-between;
    background-image: url(./images/ghana5.jpeg);
    opacity: 0.9;
    background-position: center;
    /* background-repeat: no-repeat; */
    padding: 1.75rem 8rem;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 0px solid 3693ff;
    text-align: right;
    width: 100%;

  }
  
  #navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    float: right;
  }
  #navbar h2 a {
    color:black;
    text-decoration: none;
  }
  #navbar li a {
    text-decoration: none;
    color:red;
    font-weight: bolder;
    padding: 1.9rem;
    font-size: 1.3rem;
    margin: 0 4.6rem;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    /* background-color: red; */
  }
  #navbar li a:hover {
    background-color: #3693ff;
  }
  
  /* Home */
/* 
  #Home {
    flex-direction: row;
  } */
  .texts {
flex-direction: row;
  }
  .image1 {
    border-radius: 50px;
    box-sizing: 3px;
  }
  /* #home{

    width:100%;
    height:100%; */
    /* background-size: cover; */
    /* height: 300px; */
  }
  #showcase {
    /* background: url(./images/akan6.jpeg) no-repeat center center/cover; */
    height: 92vh;
  }
  .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 81px;
    left: 0;
    bottom: 0;
    right: 0;
    /* background: rgba(0, 0, 0, 0.6); */
    background-image: url(./images/bab7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  .showcase-content h1 {
    font-size: 4rem;
    margin-bottom: -3rem;
  }
  .showcase-content .btn {
    font-size: 1.5rem;
    padding: 1rem 10rem;
    transition: color 0.3s;
  }
  .showcase-content .btn:hover {
    background: #3693ff;
    color: #fff;
  }
  .btn {
    color: #3693ff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #3693ff;
    border-radius: 10px;
    font-weight: bold;
  }
  #section5 > #activities{
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
    width:150%;
    height: 25vh;
    background-color: #3693ff;
    float: right;
    flex-direction: column;
  }
  #activities td, #activities th{
    border:1px solid #ddd;
    padding:8px;
    color:white;
  }
  #activities tr:{
    background-color:#f2f2f2;
  }
  #activities tr:hover:{
    background-color:rgba(0, 0, 0, 0.5);
    color:black;
  }
  #activities{
    padding-top:12px;
    padding-bottom:12px;
    text-align:center;
    color:white;
   
  }
  }
  /* About */

  #About {
    height: 100vh;
    background-color:rgb(2, 2, 78); */
    background-image: url(./images/key1.jpeg);
      background-repeat: no-repeat; */
    background-size: 800px; */
    background-image: url(./images/akan6.jpeg);
      background-repeat: no-repeat;
      background-size: 1600px;
     width: 100%;
    } 
    background-color: black; */
    background-image: url(./images/key14.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #About -bg {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background:rgba(0, 0, 0, 0.6); */
    /* padding: 3rem 0;
    background-image: url(./images/akan6.jpeg);
    background-repeat: no-repeat;
    background-size: 1600px;
    height: 100vh;
  }
  #About h2 {
    text-align: center;
    font-size: 10rem;
    margin-bottom: 3rem;
    color: #fff;
  }
  #About .boxes {
    display: flex;
    flex-direction: row;
  }
  About .box {
    /* background:rgb(2, 2, 78); */
    /* background-image: url(./images/key1.jpeg); */
    display: flex;
    padding: 2rem;
    align-items: center;
    border-radius: 15px;
    width: 20%;
  }
  #About .box2 {
    display: flex;
    padding: 2rem;
    align-items: center;
    border-radius: 15px;
    width: 40%;
  }
  
  #About .box {
    /* background:rgb(2, 2, 78); */
    /* background-image: url(./images/key1.jpeg); */
    display: flex;
    padding: 2rem;
    align-items: center;
    border-radius: 15px;
    width: 55%;
  }
  #About .box2 {
    display: flex;
    padding: 2rem;
    align-items: center;
    border-radius: 15px;
    width: 70%;
  }
  #About .box:first-child,
  #About .box:nth-child(2) {
    margin-bottom: 3rem;
  }
  #About .box img {
    border-radius: 50%;
    margin-right: 2rem;
  }
  #About > .About.bg > .container > .boxes > .box1 {
    color: pink;
  }
  #About p {
    color: #fff;
    font-size: 50px;
    font-style: italic;
    text-align: center;
  }
  
  #About > p {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #fff;
  }
  #About > .gender {
    font-size: 20px;
  }
  #About > .submit {
    font-size: 20px;
    background-color: aqua;
  }
  .container {
background-image: url(./images/akan1.jpeg);
background-repeat: no-repeat;
background-size: cover;
  }
  form {
    width: 40%;
    margin: auto;
    padding: 20px;
    background:#3693ff ;
    font-size: 20px;
    font-family: verdana;
    color:white;
    backface-visibility: hidden;
    opacity: 0.2rem;
  }
  input[="years"] {
    width: 30%;
    padding: 5px;
    font-size: 30px;
  }
  input[type="days"] {
    padding: 5px;
    font-size: 18px;
    width: 30px;
  } 
  select {
    font-size: 20px;
    padding: 5px;
    background: white;
  }

  #span{
    background-image: url(./images/ghana1.jpeg);
  } */
  

    /* Footer */

 .bottom {
    background-color:#3693ff;
    font-size: 10px;
  }
  p {
    color: whitesmoke;
  }
  footer {
    padding: 0.2rem;
  }
  footer p {
    text-align: center;
  }
  #socialmedia {
    text-align: center;
  }
  